<clr-main-container class="main-container">
    <ng-container>
        <ng-container *ngTemplateOutlet="alert"></ng-container>
    </ng-container>

    <clr-header class="header-6" *ngIf="!rootConfig.layout.header.hidden" [ngSwitch]="isAuthenticated()">
        <!-- <ng-container>
            <ng-container *ngTemplateOutlet="header"></ng-container>
        </ng-container> -->
        <div class="branding">
            <a href="javascript:void(0)" class="nav-link" [routerLink]="'/dashboard'">
                <!-- <clr-icon shape="vm-bug"></clr-icon> -->
                <img src="assets/logo/zezawar.svg">
                <span class="title">Zezawar Seller</span>
            </a>
        </div>
        <div class="header-nav" fxHide fxShow.gt-xs>
            <a href="javascript:void(0)" class="nav-link active" [routerLink]="'/dashboard'"><span
                    class="nav-text">Dashboard</span></a>
        </div>

        <div class="header-actions" *ngSwitchCase="true">
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
                    <!-- <clr-icon shape="user"></clr-icon> -->
                    {{account.login | titlecase}}
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="javascript:void(0)" clrDropdownItem>About</a>
                    <a href="javascript:void(0)" clrDropdownItem>Preferences</a>
                    <a href="javascript:void(0)" clrDropdownItem (click)="logout()">Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>

    <ng-container>
        <ng-container *ngTemplateOutlet="subnav"></ng-container>
    </ng-container>

    <div class="content-container">
        <ng-container *ngIf="rootConfig.layout.sidenav.position === 'left'">
            <ng-container *ngTemplateOutlet="sidenav"></ng-container>
        </ng-container>
        <div class="content-area">
            <!-- <p-breadcrumb [model]="crumbs$ | async" [home]="home" *ngIf="(crumbs$ | async)?.length"></p-breadcrumb> -->
            <content></content>
        </div>
    </div>

    <ng-container>
        <ng-container *ngTemplateOutlet="footer"></ng-container>
    </ng-container>
</clr-main-container>

<ng-template #alert>
    <app-alert class="alert alert-app-level" *ngIf="!rootConfig.layout.alert.hidden"></app-alert>
</ng-template>

<!-- <ng-template #header>
    <app-header></app-header>
</ng-template> -->

<!-- <ng-template #headerNav>
    <header-nav></header-nav>
</ng-template>

<ng-template #headerActions>
    <header-actions></header-actions>
</ng-template> -->

<ng-template #subnav>
    <!-- <nav [variant]="rootConfig.layout.navbar.variant" class="subnav" [clr-nav-level]="1" *ngIf="!rootConfig.layout.subnav.hidden"></nav> -->
</ng-template>

<ng-template #sidenav>
    <navbar [variant]="rootConfig.layout.sidenav.variant" class="left-navbar" *ngIf="!rootConfig.layout.sidenav.hidden">
    </navbar>
    <!-- <nav [variant]="rootConfig.layout.navbar.variant" class="sidenav" [clr-nav-level]="2"></nav> -->
</ng-template>

<ng-template #footer>
    <footer id="footer" *ngIf="!rootConfig.layout.footer.hidden"></footer>
</ng-template>