<div class="branding">
    <a href="..." class="nav-link">
        <!-- <clr-icon shape="vm-bug"></clr-icon> -->
        <img src="assets/icon/zezawar.svg">
        <span class="title">Project Clarity</span>
    </a>
</div>
<div class="header-nav" fxHide fxShow.gt-xs>
    <a href="..." class="nav-link"><span class="nav-text">Dashboard</span></a>
    <a href="..." class="nav-link active"><span class="nav-text">Interactive Analytics</span></a>
</div>
<div class="header-actions">
    <a href="..." class="nav-link nav-text" (click)="logout()">
        Log Out
    </a>
</div>