<div *ngIf="!productsForm?.pending">
    <h6 class="title"><span class="route-item" [routerLink]="'/products/manage-products'">Manage Products</span>
        &nbsp;<clr-icon shape="caret" dir="right"></clr-icon>&nbsp;Product
    </h6>
    <div class="clr-row">
        <div class="clr-col-12">
            <div class="card">
                <div class="card-header">
                    Basic Information
                </div>
                <div class="card-block">
                    <basic-form [productsForm]="productsForm" [products]="products"></basic-form>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col-12">
            <div class="card">
                <div class="card-header">
                    SKU Information
                </div>
                <div class="card-block">
                    <sku-form [productsForm]="productsForm"></sku-form>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col-12">
            <div class="card">
                <div class="card-header">
                    Product Information
                </div>
                <div class="card-block">
                    <information-form [productsForm]="productsForm" [dangerousGoods]="dangerousGoods">
                    </information-form>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col-12">
            <div class="card">
                <div class="card-header">
                    Product Decoration
                </div>
                <div class="card-block">
                    <decoration-form [productsForm]="productsForm"></decoration-form>
                </div>
            </div>
        </div>
    </div>
    <div class="actions-wrapper sticky-bottom">
        <button class="btn btn-primary" (click)="saveProduct()">Publish</button>
        <button class="btn btn-secondary" [routerLink]="'/products/manage-products'">Cancel</button>
    </div>
</div>

<clr-modal [(clrModalOpen)]="showImportCompleted" [clrModalSize]="'sm'" [clrModalStaticBackdrop]="false"
    [clrModalClosable]="false">
    <h3 class="modal-title">Update Product</h3>
    <div class="modal-body">
        <p>Product has been sucessfully updated.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [routerLink]="'/products/manage-products'"
            (click)="showImportCompleted = false">
            Done
        </button>
    </div>
</clr-modal>

<!-- <clr-tabs>
    <clr-tab>
        <button clrTabLink id="link1">Basic Information</button>
        <clr-tab-content id="content1" *clrIfActive>
            <basic-form [productsForm]="productsForm"></basic-form>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>SKU Information</button>
        <clr-tab-content *clrIfActive="true">
            ...
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Product Decoration</button>
        <clr-tab-content *clrIfActive="true">
            ...
        </clr-tab-content>
    </clr-tab>
</clr-tabs> -->