<div>
  <h6>Manage Images</h6>
  <clr-alert [clrAlertType]="alertType" [(clrAlertClosed)]="closeAlertInd" [clrOff]="true">
    <clr-alert-item>
      <span class="alert-text">
        {{ alertMessage }}
      </span>
    </clr-alert-item>
  </clr-alert>
  <div class="images-controller">
    <div class="btn-group">
      <clr-dropdown>
        <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
          Export
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
          <button type="button" (click)="onExportAll()" clrDropdownItem disabled>Export All</button>
          <button type="button" (click)="onExportSelected()" clrDropdownItem disabled>Export Selected Items</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </div>
  <div>
    <nav class="subnav">
      <ul class="nav">
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link active"><span class="nav-text"
              (click)="missingImageInd = false">All({{ totalItems }})</span></a>
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" class="datagrid-compact">
      <clr-dg-column class="product-col">Product</clr-dg-column>
      <clr-dg-column class="sku-col">SKU</clr-dg-column>
      <clr-dg-column>All Images</clr-dg-column>

      <clr-dg-row *ngFor="let stockItem of stockItems | orderBy: 'id'" [clrDgItem]="stockItem">
        <clr-dg-cell>{{ stockItem.name }}</clr-dg-cell>
        <clr-dg-cell>{{ stockItem.vendorSKU }}</clr-dg-cell>
        <clr-dg-cell>
          <!-- <div class="upload-wrapper">
            <div class="upload-item" *ngFor="let photo of stockItem.photoLists | orderBy: 'id'; let i = index">
              <photo-item [photos]="photo" [stockItems]="stockItem" (error)="onError($event)" (alert)="onAlert($event)">
              </photo-item>
            </div>
          </div> -->
          <div class="clearfix">
            <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" nzListType="picture-card"
              [(nzFileList)]="stockItem.photoLists" [nzShowButton]="stockItem.photoLists?.length < 8"
              [nzPreview]="handlePreview">
              <i nz-icon nzType="plus"></i>
              <div class="ant-upload-text">Upload</div>
            </nz-upload>
          </div>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="itemsPerPage" [clrDgTotalItems]="totalItems">
          <clr-dg-page-size [clrPageSizeOptions]="[5, 10, 20, 50, 100]">Items per page </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} items
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
  (nzOnCancel)="previewVisible = false">
  <ng-template #modalContent>
    <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
  </ng-template>
</nz-modal>