h6 {
    margin: 0 !important;
}

.product-col{
    width: 120px !important;
}

.sku-col{
    width: 100px !important;
}

.images-controller {
    padding: 1rem 0 1rem 0;
}

.upload-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    .upload-item {
        display: flex;
        align-items: flex-start;
        // padding: 24px 24px 48px 24px;
        // margin-bottom: 20px;
        margin: 0px 16px 16px 0px;

        .upload-preview {
            display: flex;
            min-width: 97px;
        }

        //upload image
        [type='file']::-webkit-file-upload-button {
            -webkit-appearance: button;
        }

        .upload-control {
            width: 97px;
            height: 97px;
            position: relative;
            cursor: cell;
        }

        .upload-control .image-upload-btn {
            width: 100%;
            height: 100%;
            border: 1px dashed #c4c6cf;
            text-align: left;
        }

        .upload-control .image-upload-btn .upload-btn-icon.next-icon {
            margin: 18px 0 0 30px;
            font-size: 2.5em;
            color: #c4c6cf;
        }

        .next-icon {
            position: relative;
            display: inline-block;
            font-weight: 400;
            width: 32px;
            height: 32px;
        }

        .upload-control .image-upload-btn .upload-text {
            font-size: 12px;
            text-align: center;
            margin: 6px 0;
            color: #c4c6cf;
            padding: 0;
        }

        .upload-control .image-preview {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 97px;
            height: 97px;
            background-color: #f6f6f6;
            overflow: hidden;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .overlay-image {
            width: 256px;
            height: 256px;
        }

        .upload-control .image-preview .image-link {
            display: table-cell;
            width: 97px;
            height: 97px;
            text-align: center;
            vertical-align: middle;
            cursor: default;
            //overflow: hidden;
        }

        a {
            position: absolute !important;
            cursor: pointer !important;
        }

        a:visited {
            color: #199cb7;
        }

        a:visited {
            color: #d9e4f5;
        }

        a:link {
            color: #4077cc;
        }
    }
}

.datagrid-row:hover{
    background-color: transparent;       
}