@mixin root-sidebar-theme($theme) {

    $background: map-get($theme, background);

    root-sidebar {
        background: map-get($background, background);
    }

    .root-sidebar-overlay {
        background-color: rgba(0, 0, 0, 0.6);

        &.root-sidebar-overlay-invisible {
            background-color: transparent;
        }
    }
}