// @import "src/@epm/components/sidebar/sidebar.theme";

@mixin root-core-theme($theme) {
    // @include colors-theme($theme);
    // @include material-theme($theme);
    // @include page-layouts-theme($theme);
    // @include typography-theme($theme);
    // @include root-sidebar-theme($theme);
}