<clr-alert [clrAlertType]="'danger'" *ngIf="errorVisible">
    <clr-alert-item>
        <span class="alert-text">
            {{ errorMessage }}
        </span>
    </clr-alert-item>
</clr-alert>


<div class="batch-upload-wrapper">
    <h6 class="title"><span class="route-item" [routerLink]="'/products/manage-products'">Manage Products</span>
        &nbsp;<clr-icon shape="caret" dir="right"></clr-icon>&nbsp;Batch Upload
    </h6>
    <div class="progress-wrapper">
        <div class="progress-message">
            <p *ngIf="importPercentage<100">{{importCount}} of {{importTotalCount}} uploaded
                ({{importPercentage | number: '1.0-0'}}%)</p>
            <p *ngIf="importPercentage===100">Total {{importTotalCount}} have been uploaded to system</p>
        </div>
        <clr-progress-bar [clrValue]="importPercentage" clrMax="100"></clr-progress-bar>
    </div>

    <input #file [style.display]="'none'" type="file" id="file" accept=".xls,.xlsx,.csv,.json"
        (change)="onUpload($event)" hidden />
    <clr-tabs>
        <clr-tab>
            <button clrTabLink id="import">Import</button>
            <clr-tab-content id="content1" *clrIfActive="true">
                <div class="import-wrapper">
                    <div class="btn-group">
                        <clr-select-container class="control-item">
                            <!-- <label>Import Mode</label> -->
                            <select clrSelect name="options" [(ngModel)]="selectedMode">
                                <option value="0">Create New Products</option>
                                <option value="1">Update Products</option>
                                <option value="2">Update Stock</option>
                                <option value="3">Update Price</option>
                            </select>
                        </clr-select-container>
                    </div>
                    <clr-button-group class="btn-primary control-item">
                        <clr-button class="btn btn-sm" (click)="file.click()">Upload Files</clr-button>
                        <clr-button class="btn btn-sm btn-success" [disabled]="!uploadData?.length"
                            (click)="onImportToSystem($event)">Import To System</clr-button>
                        <clr-button class="btn btn-sm btn-warning" [disabled]="!uploadData?.length"
                            (click)="clearUploadedRecords()">Clear</clr-button>
                    </clr-button-group>
                    <!-- <div class="btn-group">
                        <clr-dropdown>
                            <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
                                Selection Mode
                                <clr-icon shape="caret down"></clr-icon>
                            </button>
                            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                                <button type="button" (click)="onUploadExcelSelectAll()" clrDropdownItem>Select
                                    All</button>
                                <button type="button" (click)="onUploadExcelUnSelectAll()" clrDropdownItem>Unselect
                                    All</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                    </div> -->
                </div>
                <div>
                    <!-- [(clrDgSelected)]="selectedRows" [clrDgRowSelection]="true"  -->
                    <clr-datagrid class="datagrid-compact">
                        <!-- <clr-dg-column [clrDgField]="column" *ngFor="let column of uploadExcelArray">{{ column }}</clr-dg-column> -->
                        <clr-dg-column>Vendor Code</clr-dg-column>
                        <clr-dg-column>Vendor SKU</clr-dg-column>
                        <clr-dg-column>Barcode</clr-dg-column>
                        <clr-dg-column [style.width.px]="300">Item Name</clr-dg-column>
                        <clr-dg-column>Brand Name</clr-dg-column>
                        <clr-dg-column>Product Cateogory</clr-dg-column>
                        <clr-dg-column>Product Sub Category</clr-dg-column>
                        <clr-dg-column>Model Name</clr-dg-column>
                        <clr-dg-column>Model Number</clr-dg-column>
                        <clr-dg-column>Quantity On Hand</clr-dg-column>
                        <clr-dg-column>Selling Price</clr-dg-column>
                        <clr-dg-column>Retail Price</clr-dg-column>

                        <clr-dg-row *clrDgItems="let item of uploadData" [clrDgItem]="item">
                            <clr-dg-cell>{{ item.vendorCode }}</clr-dg-cell>
                            <clr-dg-cell>{{ item.vendorSKU }}</clr-dg-cell>
                            <clr-dg-cell>{{ item.barcode }}</clr-dg-cell>
                            <clr-dg-cell>{{ item.itemName }}</clr-dg-cell>
                            <clr-dg-cell>{{ item.brandName }}</clr-dg-cell>
                            <clr-dg-cell>{{ item.productCategory }}</clr-dg-cell>
                            <clr-dg-cell>{{ item.productSubCategory }}</clr-dg-cell>
                            <clr-dg-cell>{{ item.modelName }}</clr-dg-cell>
                            <clr-dg-cell>{{ item.modelNumber }}</clr-dg-cell>
                            <clr-dg-cell>{{ item.quantityOnHand | number }}</clr-dg-cell>
                            <clr-dg-cell>{{ item.sellingPrice | currency:CURRENCY_FORMAT }}</clr-dg-cell>
                            <clr-dg-cell>{{ item.retailPrice | currency:CURRENCY_FORMAT }}</clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>
                            <clr-dg-pagination #pagination [clrDgPageSize]="15">
                                <clr-dg-page-size [clrPageSizeOptions]="[15, 25, 50, 100]">Items per page
                                </clr-dg-page-size>
                                {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
                                {{ pagination.totalItems }} items
                            </clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
                </div>
            </clr-tab-content>
        </clr-tab>
        <clr-tab>
            <button clrTabLink>Import History</button>
            <clr-tab-content *clrIfActive>
                <div>
                    <clr-datagrid (clrDgRefresh)="onLoadUploadTransactions($event)"
                        [clrDgLoading]="loadingUploadTransactions" class="datagrid-compact">
                        <clr-dg-column [clrDgField]="'fileName'">File</clr-dg-column>
                        <clr-dg-column [clrDgField]="''">Action</clr-dg-column>
                        <clr-dg-column [clrDgField]="'createdDate'">Created On</clr-dg-column>

                        <clr-dg-row *ngFor="let item of uploadTransactionList">
                            <clr-dg-cell><a [href]="item.templateUrl">{{ item.fileName }}</a></clr-dg-cell>
                            <clr-dg-cell>{{ item.actionTypeActionTypeName }}</clr-dg-cell>
                            <clr-dg-cell>{{ item.createdDate | date: 'medium' }}</clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>
                            <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="total">
                                <clr-dg-page-size [clrPageSizeOptions]="[5, 10, 20, 50, 100]">Items per page
                                </clr-dg-page-size>
                                {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
                                {{ pagination.totalItems }} items
                            </clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
                </div>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>
</div>

<clr-modal [(clrModalOpen)]="showImportCompleted" [clrModalSize]="'sm'" [clrModalStaticBackdrop]="false"
    [clrModalClosable]="false">
    <h3 class="modal-title">Import To System</h3>
    <div class="modal-body">
        <p>Total {{importCount}} imported</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onCompletedImport()">
            Done
        </button>
    </div>
</clr-modal>