app-batch-upload {
  .batch-upload-wrapper {
    h6.title {
      margin-top: 0px !important;

      fa-icon {
        color: #333333;
      }

      .route-item {
        cursor: pointer;
      }
    }

    .progress-message {
      margin-bottom: 0.5rem;
    }
  }
}
