// @import 'src/@eps/scss/root';

// root-navigation {
//     display: flex;
//     flex: 1 0 auto;

//     > .nav {
//         margin: 0;
//         padding: 0;
//         width: 100%;
//     }
// }
