<clr-vertical-nav id="vertical-nav" [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed"
    [ngClass]="{'horizontal':layout === 'horizontal', 'vertical':layout === 'vertical'}" class="nav-trigger--bottom" [clr-nav-level]="1">
    <ng-container *ngIf="layout === 'vertical'">

        <ng-container *ngFor="let item of navigation">

            <root-nav-vertical-group *ngIf="item.type=='group'" [item]="item"></root-nav-vertical-group>
            <root-nav-vertical-collapsable *ngIf="item.type=='collapsable'" [item]="item">
            </root-nav-vertical-collapsable>
            <root-nav-vertical-item *ngIf="item.type=='item'" [item]="item"></root-nav-vertical-item>

        </ng-container>

    </ng-container>
</clr-vertical-nav>
<!-- <div class="nav" [ngClass]="{'horizontal':layout === 'horizontal', 'vertical':layout === 'vertical'}">

    <ng-container *ngIf="layout === 'vertical'">

        <ng-container *ngFor="let item of navigation">

            <root-nav-vertical-group *ngIf="item.type=='group'" [item]="item"></root-nav-vertical-group>
            <root-nav-vertical-collapsable *ngIf="item.type=='collapsable'"
                                           [item]="item"></root-nav-vertical-collapsable>
            <root-nav-vertical-item *ngIf="item.type=='item'" [item]="item"></root-nav-vertical-item>

        </ng-container>

    </ng-container>

    <ng-container *ngIf="layout === 'horizontal'">

        <ng-container *ngFor="let item of navigation">

            <root-nav-horizontal-collapsable *ngIf="item.type=='group'" [item]="item"></root-nav-horizontal-collapsable>
            <root-nav-horizontal-collapsable *ngIf="item.type=='collapsable'"
                                             [item]="item"></root-nav-horizontal-collapsable>
            <root-nav-horizontal-item *ngIf="item.type=='item'" [item]="item"></root-nav-horizontal-item>

        </ng-container>

    </ng-container>

</div> -->