<div *ngIf="productsForm">
    <form id="products-form" clrForm clrLayout="horizontal" name="productsForm" [formGroup]="productsForm">
        <button class="btn btn-primary btn-sm" (click)="addStockItem()">Add SKU</button>

        <clr-datagrid class="stockitem-table">
            <clr-dg-column *ngIf="attributeInd" class="min-col-width">Attribute</clr-dg-column>
            <clr-dg-column *ngIf="optionInd">Option</clr-dg-column>
            <clr-dg-column class="min-col-width">Vendor Code</clr-dg-column>
            <clr-dg-column class="min-col-width">Vendor SKU</clr-dg-column>
            <clr-dg-column class="min-col-width">Barcode</clr-dg-column>
            <clr-dg-column class="min-col-width">Barcode Type</clr-dg-column>
            <clr-dg-column>Quantity</clr-dg-column>
            <clr-dg-column>RetailPrice</clr-dg-column>
            <clr-dg-column>UnitPrice</clr-dg-column>
            <clr-dg-column>Weight(kg)</clr-dg-column>
            <clr-dg-column>Length(cm)</clr-dg-column>
            <clr-dg-column>Width(cm)</clr-dg-column>
            <clr-dg-column>Height(cm)</clr-dg-column>

            <clr-dg-row formArrayName="stockItemLists"
                *ngFor="let stockItem of stockItemListsForm?.controls; let i = index;" [clrDgItem]="stockItem">
                <clr-dg-action-overflow>
                    <button class="action-item" (click)="removeStockItem(stockItem,i)">Delete</button>
                </clr-dg-action-overflow>
                <clr-dg-cell *ngIf="attributeInd" class="min-col-width">
                    <div [formGroupName]="i">
                        <select name="attribute-select" formControlName="productAttributeId">
                            <option *ngFor="let item of (productAttributeList$|async)" [ngValue]="item.id">
                                {{item.value}}
                            </option>
                        </select>
                    </div>

                </clr-dg-cell>
                <clr-dg-cell *ngIf="optionInd">
                    <div [formGroupName]="i">
                        <select name="option-select" formControlName="productOptionId">
                            <option *ngFor="let item of (productOptionList$|async)" [ngValue]="item.id">
                                {{item.value}}
                            </option>
                        </select>
                    </div>
                </clr-dg-cell>
                <clr-dg-cell class="min-col-width">
                    <div [formGroupName]="i">
                        <input type="text" formControlName="vendorCode">
                    </div>
                </clr-dg-cell>
                <clr-dg-cell class="min-col-width">
                    <div [formGroupName]="i">
                        <input type="text" formControlName="vendorSKU">
                    </div>

                </clr-dg-cell>
                <clr-dg-cell class="min-col-width">
                    <div [formGroupName]="i">
                        <input type="text" formControlName="barcode">
                    </div>
                </clr-dg-cell>
                <clr-dg-cell>
                    <div [formGroupName]="i">
                        <select name="option-select" formControlName="barcodeTypeId">
                            <option *ngFor="let item of (barcodeTypes$|async)" [ngValue]="item.id">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                </clr-dg-cell>
                <clr-dg-cell>
                    <div [formGroupName]="i">
                        <input type="text" formControlName="quantityOnHand">
                    </div>

                </clr-dg-cell>
                <clr-dg-cell>
                    <div [formGroupName]="i">
                        <input type="text" formControlName="recommendedRetailPrice">
                    </div>
                </clr-dg-cell>
                <clr-dg-cell>
                    <div [formGroupName]="i">
                        <input type="text" formControlName="unitPrice">
                    </div>
                </clr-dg-cell>
                <clr-dg-cell>
                    <div [formGroupName]="i">
                        <input type="text" formControlName="itemWeight">
                    </div>
                </clr-dg-cell>
                <clr-dg-cell>
                    <div [formGroupName]="i">
                        <input type="text" formControlName="itemLength">
                    </div>
                </clr-dg-cell>
                <clr-dg-cell>
                    <div [formGroupName]="i">
                        <input type="text" formControlName="itemWidth">
                    </div>
                </clr-dg-cell>
                <clr-dg-cell>
                    <div [formGroupName]="i">
                        <input type="text" formControlName="itemHeight">
                    </div>
                </clr-dg-cell>
                <!-- <clr-dg-row-detail>
                <div class="upload-wrapper">
                    <div class="upload-item" *ngFor="let photo of stockItem.photoLists; let i = index">
                        <input hidden type="file" accept="image/*" [id]="photo.id" #originalBlob
                            [style.display]="'none'" (change)="setFileData($event, photo, 'originalPhotoBlob', true)" />

                        <div class="upload-control" *ngIf="!photo.thumbnailPhotoBlob;else preview">
                            <span>
                                <div class="image-upload-btn" (click)="originalBlob.click()">
                                    <clr-icon shape="image"
                                        class="next-icon next-icon-add next-icon-medium upload-btn-icon"></clr-icon>
                                    <p class="upload-text">Upload Image</p>
                                </div>
                            </span>
                        </div>
                        <ng-template #preview>
                            <div *ngIf="photo.thumbnailPhotoBlob">
                                <a (click)="clearInputImage(photo)" class="close-image" matTooltip="Clear Image">
                                    <clr-icon shape="window-close"></clr-icon>
                                </a>
                            </div>
                            <div class="image-preview" *ngIf="photo.thumbnailPhotoBlob">
                                <img [src]="'data:' + photo.thumbnailPhotoBlobContentType + ';base64,' + photo.thumbnailPhotoBlob"
                                    style="max-height: 100px;" alt="stock item image" draggable="false" />
                            </div>
                        </ng-template>
                    </div>
                </div>
            </clr-dg-row-detail> -->
            </clr-dg-row>
        </clr-datagrid>

    </form>
</div>